*{
  margin:0;
  padding: 0;
}

header{
  background-color: white;
  height: 60px;
  padding: 15px 0;
}

#header{
  /* border: 1px solid red; */
  width: 1350px;
  height: 60px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

#logo-img{
  transform: scale(0.3);
  margin-left: auto;
  width: 20px;
}

#dropdown-container{
  display: flex;
  width: 1000px;
  margin-left: 300px;
}

.dropdown{
  position: relative;
  margin: 10px;
}

.dropdown-menu{
  cursor:pointer;
  padding: 15px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 35px;
}


.dropdown-content ul{
  /* width: 300px; */
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li{
  padding: 12px 16px;
}

.dropdown-content ul li a{
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content ul li a:hover{
  background-color: black;
}

.dropdown:hover .dropdown-content{
  display: block;
  align-items: center;
  transform: translate(-20px);
}

.dropdown--intro{
  width: 180px;
}

.dropdown--story{
  width: 550px;
}

.dropdown--service{
  width: 150px;
}

.dropdown--promise{
  width: 370px;
}

.dropdown--news{
  width: 200px;
}

#ir-main{
  text-decoration: none;
  color: black;
}

.logo-icon{
  width: 220px;
  display: flex;
  margin-right: auto;
  transform: scale(0.35);
  cursor: pointer;
}


/* 메인 0번 :  모두의 삶 모두의 기술 시작 */
main{
  background-color: white;
  height:5330px;
}

#main-video{
  height: 630px;
}

#main-video img{
  /* border: 1px solid red; */
  width: 1300px;
  margin-left: 100px;
}

/* 메인 1번 :  카카오와 카카오 그룹이 축적해 온 이야기들 시작 */
.main-kakaostory {
  height: 180px;
  width: 1300px;
  /* background-color: beige; */
  background-color: white;
  margin-left: 100px;
  display: flex;
}

.main-kakaostory img{
  /* border: 1px solid red; */
  width: 80px;
  margin-left: 100px;
  margin-top: 85px;
}

.main-kakaostory #kstory-icon {
  margin-left: 0;
}

.main-kakaostory #kstory-text{
  margin-top: 90px;
  font-size: 50px;
  width: 1000px;
  font-weight: 500;
  letter-spacing : -5px;
}

.button-content{
  display: absolute;
}

.main-kakaostory #kstory_button1 {
  cursor: pointer;
  margin-left: 135px;
}

.main-kakaostory #kstory_button2:hover {
  display: none;
}

.story-content{
  width: 1515px;
  /* border: 1px solid red; */
}
.story-content ul{
  display: flex;
  list-style-type: none;
}

.story-content img{
  width: 380px;
}

/* 메인 2번 : 더 나은 세상을 만드는 카카오 서비스 시작 */

.main-kakaoservice{
  width: 1515px;
  height: 180px;
  background-color: white;
  /* border: 1px solid red; */
  margin-left: 100px;
  display: flex;
}

.main-kakaoservice img{
  /* border: 1px solid red; */
  width: 80px;
  margin-left: 100px;
  margin-top: 85px;
}

.main-kakaoservice #service-icon {
  margin-left: 0;
}

.main-kakaoservice #service-text{
  margin-left: 20px;
  margin-top: 90px;
  font-size: 50px;
  width: 1000px;
  font-weight: 500;
  letter-spacing : -5px;
}
/* 서비스 영역 나누기 */
.service-section{
  width: 1300px;
  height: 520px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  /* padding: 10px; */
}

.service-section-left{
  background-color: white;
  height: 520px;
  width: 630px;
}

.service-section-right{
  background-color: white;
  height: 520px;
  width: 630px;
}

/* 서비스 영역 왼쪽 */
/* 커뮤니케이션 */
.communication {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.communication h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  /* font-weight: 500; */
  letter-spacing : -4px;
}

.com-list {
  display: flex;
  list-style-type: none;
}

#com-katalk{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#com-daum{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#com-story{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#com-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 일상 */
.daily{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.daily h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.daily-list {
  display: flex;
  list-style-type: none;
}

#daily-map{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#daily-taxi{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

#daily-bank{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

#daily-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

/* 엔터테인먼트 */
.entertain{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.entertain h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.enter-list {
  display: flex;
  list-style-type: none;
}

#enter-page{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#enter-japan{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#enter-melon{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#enter-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 서비스 영역 오른쪽 */
/* 비지니스 */
.business {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.business h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.business-list {
  display: flex;
  list-style-type: none;
}

#busi-channel{
  height: 60px;
  margin-left: 335px;
  margin-top: -50px;
}

#busi-cloud{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#busi-agit{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#busi-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 쇼핑 */
.shopping {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.shopping h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.shopping-list {
  display: flex;
  list-style-type: none;
}

#shop-present{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#shop-store{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#shop-zig{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#shop-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 소셜 */
.social {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.social h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.social-list {
  display: flex;
  list-style-type: none;
}

#social-page{
  height: 60px;
  margin-left: 475px;
  margin-top: -50px;
}

#social-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 서비스 전체보기 */
.service-all{
  background-color: white;
  /* border: 1px solid red; */
  width: 1300px;
  height: 200px;
  margin-left: 100px;
}

.service-all a{
  text-decoration: none;
  color: black;
}

.s-all-container {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 70px;
  height: 70px;
  width: 300px;
  margin-left: 500px;
}

.service-all h2 {
  margin-top: 20px;
  margin-left: 65px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing : -4px;
}

#s-all-icon{
  width: 30px;
  transform: translate(205px, -28px);
}

/* 메인 3번 : 오늘의 뉴스  */

.main-news{
  width: 1300px;
  height: 720px;
  background-color: white;
  /* border: 1px solid blue; */
  margin-left: 100px;
  /* display: flex; */
}

.main-news img{
  width: 80px;
  margin-left: 100px;
  margin-top: 0px;
}

#news-icon{
  margin-left: 0;
}

.news-header h2{
  margin-top: -75px;
  margin-left: 100px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing : -5px;
}

/* 뉴스 영역 나누기 */
.news-section-a{
  width: 1300px;
  height: 600px;
  /* background-color: beige;
  border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 30px;
  /* padding: 10px; */
}

.news-section-a ul{
  display: flex;
  list-style-type: none;
}

.news-section-a a{
  text-decoration: none;
  color: black;
}

#esg {
  background-color: #f3f3f3;
  /* border: 1px solid red; */
  width: 420px;
  height: 600px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 8px;
  padding-left: 5px;
  padding-top: 10px;
}

#news-press{
  /* border: 1px solid red; */
  width: 50px;
  margin-left: 20px;
  margin-top: 15px;
}

#news-list h2{
  /* border: 1px solid red; */
  width: 65px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 80px;
  margin-top: -50px;
  text-align: center;
  letter-spacing : -2px;
}

#news-list h5 {
  /* border: 1px solid red; */
  width: 120px;
  font-weight: 400;
  margin-top: -30px;
  margin-left: 175px;
  color: rgb(77, 74, 74);
  letter-spacing : 0.5px;
  font-size: 14px;
}

#news-list h1{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 28px;
  letter-spacing: -2px;
}

#n-dot{
  width: 32px;
  margin-left: 365px;
  margin-top: -100px;
  margin-bottom: 10px;
  cursor: pointer;
}

#esg h4{
  margin-left: 20px;
  margin-top: 150px;
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

#esg-photo{
  width: 425px;
  height: 260px;
  /* border-radius: 30px; */
  margin-left: -5px;
  margin-top: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


/* 오늘의 뉴스 - daum */
#daum {
  background-color: #f3f3f3;
  width: 420px;
  height: 600px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 10px;
}

#daum h4{
  margin-left: 20px;
  margin-top: 150px;
  color: gray;
  font-size: 15px;
  font-weight: 400;
}


#daum-photo{
  width: 420px;
  height: 260px;
  /* border-radius: 30px; */
  margin-left: 0px;
  margin-top: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* 오늘의 뉴스 - opentchat */
#openchat{
  background-color: #f3f3f3;
  width: 420px;
  height: 600px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 8px;
  padding-top: 10px;
}

#openchat h4{
  margin-left: 20px;
  margin-top: 110px;
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

/* 뉴스 밑 영역 나누기 */
.news-section-b{
  width: 1300px;
  height: 190px;
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-top: 30px;
  /* padding: 10px; */
}

.news-section-left {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 170px;
  width: 640px;
  margin: 10px;
}

.news-section-right{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 170px;
  width: 640px;
  margin-top: 10px;
}

#news-press{
  /* border: 1px solid red; */
  width: 50px;
  margin-left: 20px;
  margin-top: 15px;
}

/* 뉴스 밑 영역 왼쪽 */
.news-section-left h2{
  /* border: 1px solid red; */
  width: 65px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 80px;
  margin-top: -50px;
  text-align: center;
  letter-spacing : -2px;
}

.news-section-left h5 {
  /* border: 1px solid red; */
  width: 120px;
  font-weight: 400;
  margin-top: -30px;
  margin-left: 175px;
  color: rgb(77, 74, 74);
  letter-spacing : 0.5px;
  font-size: 14px;
}

.news-section-left h1{
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: -2px;
  font-weight: 400;
}

.news-section-b a{
  text-decoration: none;
  color: black;
}

#news-dot{
  /* border: 1px solid red; */
  width: 30px;
  margin-left: 590px;
  margin-top: -50px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* 뉴스 밑 영역 오른쪽 */

#news-press{
  /* border: 1px solid red; */
  width: 50px;
  margin-left: 20px;
  margin-top: 15px;
}

.news-section-right h2{
  /* border: 1px solid red; */
  width: 65px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 80px;
  margin-top: -50px;
  text-align: center;
  letter-spacing : -2px;
}

.news-section-right h5 {
  /* border: 1px solid red; */
  width: 120px;
  font-weight: 400;
  margin-top: -30px;
  margin-left: 175px;
  color: rgb(77, 74, 74);
  letter-spacing : 0.5px;
  font-size: 14px;
}

.news-section-right h1{
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: -2px;
  font-weight: 400;
}
/* 뉴스 전체보기 */
/* 뉴스 영역 나누기 */
.news-plus{
  width: 1300px;
  height: 200px;
  background-color: white;
  /* border: 1px solid red; */
  margin-left: 100px;
  margin-top: 0px;
  /* padding: 10px; */
}

.news-plus a{
  text-decoration: none;
  color: black;
}

.news-all ul{
  display: flex;
  list-style-type: none;
}

/* 뉴스 전체뉴스 */

.news-allview {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 25px;
  height: 100px;
  width: 420px;
  margin-left: 10px;
}

.news-allview h2 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.news-allview h4 {
  margin-top: -22px;
  margin-left: 300px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#n-all-icon{
  width: 30px;
  transform: translate(365px, -25px);
}

/* 뉴스 보도자료 */
.news-pressview {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 25px;
  height: 100px;
  width: 420px;
  margin-left: 11px;
}

.news-pressview h2 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.news-pressview h4 {
  margin-top: -22px;
  margin-left: 300px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#p-all-icon{
  width: 30px;
  transform: translate(365px, -25px);
}

/* 뉴스 참고자료 */

.news-resource {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 25px;
  height: 100px;
  width: 420px;
  margin-left: 11px;
}

.news-resource h2 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.news-resource h4 {
  margin-top: -22px;
  margin-left: 300px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#r-all-icon{
  width: 30px;
  transform: translate(365px, -25px);
}


/* 메인 4번 : 약속과 책임 */

.main-promise{
  width: 1300px;
  height: 720px;
  background-color: white;
  /* border: 1px solid blue; */
  margin-left: 100px;
  /* display: flex; */
}

.main-promise img{
  width: 80px;
  margin-left: 100px;
  margin-top: 0px;
}

#promise-icon{
  margin-left: 0;
}

.promise-header h2{
  margin-top: -75px;
  margin-left: 100px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing : -5px;
}

.promise-section{
  width: 1300px;
  height: 600px;
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 30px;
  /* padding: 10px; */
}

.promise-section ul{
  display: flex;
  list-style-type: none;
}

#p-esg-photo{
  width: 430px;
  height: 600px;
  margin-left: 0px;
}

#green-photo{
  width: 430px;
  height: 600px;
  margin-left: 7px;
}

#magazine-photo{
  width: 430px;
  height: 600px;
  margin-left: 7px;
}

/* 메인 5번 무엇을 도와드릴까요? */
.main-help{
  width: 1300px;
  height: 600px;
  background-color: white;
  /* border: 1px solid blue; */
  margin-top: 80px;
  margin-left: 100px;
  /* display: flex; */
}

.main-help img{
  width: 80px;
  margin-left: 100px;
  margin-top: 0px;
}

#help-icon{
  margin-left: 0;
}

.help-header h2{
  margin-top: -75px;
  margin-left: 100px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing : -5px;
}

/* 5번 도움 영역 나누기 */
.help-section{
  width: 1300px;
  height: 520px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}

.help-section-a{
  background-color: white;
  /* border: 1px solid red; */
  height: 520px;
  width: 430px;
}

.main-help a{
  text-decoration: none;
  color: black;
}

/* 카카오 고객센터 */

.help-kakao {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 425px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.help-kakao h2 {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.help-kakao h4 {
  margin-top: 20px;
  margin-left: 35px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#h-kakao-icon{
  width: 30px;
  transform: translate(0px, -90px);
}

#h-kakao-photo {
  width: 100px;
  transform: translate(55px, -90px);
}


/* 다음 고객센터 */
.help-daum {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 425px;
  margin-bottom: 15px;
}

.help-daum h2 {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.help-daum h4 {
  margin-top: 20px;
  margin-left: 35px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#h-daum-icon{
  width: 30px;
  transform: translate(0px, -90px);
}

#h-daum-photo {
  width: 100px;
  transform: translate(55px, -90px);
}

/* 커머스 고객센터 */

.help-com {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 425px;
  margin-bottom: 10px;
}

.help-com h2 {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing : -4px;
}

.help-com h4 {
  margin-top: 20px;
  margin-left: 35px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#h-com-icon{
  width: 30px;
  transform: translate(0px, -90px);
}

#h-com-photo {
  width: 100px;
  transform: translate(55px, -90px);
}

/* 구독 */
.help-section-b{
  background-color: white;
  /* border: 1px solid red; */
  height: 520px;
  width: 440px;
}

#kakao-sub{
  margin-top: 30px;
  width: 420px;
  height: 495px;
  margin-left: 10px;
}

/* 크루 */
.help-section-c{
  background-color: white;
  /* border: 1px solid red; */
  height: 530px;
  width: 440px;
}

#kakao-crew{
  margin-top: 30px;
  width: 420px;
  height: 495px;
  margin-left: 0px;
}

/* 도움 밑 영역 */

.help-bottom{
  width: 1300px;
  height: 240px;
  background-color: white;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  /* padding: 10px; */
}

.help-bottom ul{
  display: flex;
  list-style-type: none;
}

.help-bottom a{
  text-decoration: none;
  color: black;
}

.help-left {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 200px;
  width: 640px;
  margin: 10px;
}

/* 투자정보 */

.help-left h2 {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing : -4px;
}

.help-left h4 {
  margin-top: 70px;
  margin-left: 35px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#invest-icon{
  width: 30px;
  transform: translate(100px, -80px);
}

#invest-photo {
  width: 70px;
  transform: translate(480px, -110px);
}

/* 보호 */ 

.help-right{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 200px;
  width: 640px;
  margin-top: 10px;
}

.help-right h2 {
  margin-top: 40px;
  margin-left: 35px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing : -4px;
}

.help-right h4 {
  margin-top: 40px;
  margin-left: 35px;
  width: 60px;
  font-size: 15px;
  font-weight: 500;
}

#lock-icon{
  width: 30px;
  transform: translate(100px, -85px);
}

#lock-photo {
  width: 70px;
  transform: translate(480px, -120px);
}


/* 카카오 소식 모아보기 */
.notice-all{
  background-color: white;
  /* border: 1px solid red; */
  width: 1300px;
  height: 200px;
  margin-left: 100px;
}

.notice-all a{
  text-decoration: none;
  color: black;
}

.n-all-container {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 70px;
  height: 70px;
  width: 300px;
  margin-left: 500px;
}

.notice-all h2 {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing : -3px;
}

.notice-all #s-all-icon{
  width: 30px;
  transform: translate(235px, -28px);
}

/* 푸터 */
footer{
  background-color: white;
  /* border: 1px solid red; */
  height: 520px;
  width: 1300px;
  margin-left: 100px;
}

/* 오늘의 카카오 */
.f-today h2{
  letter-spacing: -2px;
  font-size: 30px;
  margin-bottom: 25px;
}

.f-today li{
  list-style-type: none;
  color: black;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-today a{
  text-decoration: none;
}

/* 카카오그룹서비스 */
.f-group-s {
  margin-left: 250px;
  margin-top: -200px;
}

.f-group-s h6{
  font-size: 17px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.f-group-s li{
  list-style-type: none;
  color: gray;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-group-s li:hover{
  color: black;
}

.f-group-s a{
  text-decoration: none;
}

/* 카카오그룹 */
.f-group {
  margin-left: 470px;
  margin-top: -215px;
}

.f-group h6{
  font-size: 17px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.f-group li{
  list-style-type: none;
  color: gray;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-group li:hover{
  color: black;
}

.f-group a{
  text-decoration: none;
}

/* 카카오픽코마 */

.f-pic {
  margin-left: 680px;
  margin-top: -215px;
}

.f-pic li{
  list-style-type: none;
  color: gray;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-pic li:hover{
  color: black;
}

.f-pic a{
  text-decoration: none;
}

/* IR */
.f-ir {
  margin-left: 900px;
  margin-top: -245px;
}

.f-ir h6{
  font-size: 17px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.f-ir li{
  list-style-type: none;
  color: gray;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-ir li:hover{
  color: black;
}

.f-ir a{
  text-decoration: none;
}

/* 계정및지원 */
.f-account {
  margin-left: 1100px;
  margin-top: -215px;
}

.f-account h6{
  font-size: 17px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.f-account li{
  list-style-type: none;
  color: gray;
  margin-top: 12px;
  font-size: 14px;
  letter-spacing: -1px;
}

.f-account li:hover{
  color: black;
}

.f-account a{
  text-decoration: none;
}

/* 이용약관 */
.agreement {
  /* border: 1px solid red; */
  margin-top: 150px;
  width: 1085px;
}

.agreement ul {
  display: flex;
  list-style-type: none;
}

.agreement a{
  color: gray;
  text-decoration: none;
}

.agreement li {
  margin-right: 19px;
  font-size: 12px;
  cursor: pointer;
}

.agreement li:hover{
  color: black;
}

#f-text {
  color: black;
}

.agreement h6{
  margin-top: 25px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

#site {
  height: 40px;
  width: 200px;
  background-color: #EEEE;
  border-radius: 25px;
  margin-left: 1090px;
  margin-top: -60px;
}

#site h6{
  font-size: 11px;
  font-weight: 400;
  transform: translate(20px, 12px);
}

#site a{
  color: black;
  text-decoration: none;
}

#site img {
  width: 30px;
  transform: translate(160px, -10px);
} 