*{
  margin: 0;
  padding: 0;
}
header{
  background-color: white;
}
.header-content{
  transform: translate(300px, -15px);
}

/* .nav {

} */

.nav-list{
  background-color: white;
  display: flex;
  list-style-type: none;
}
li{
  width: 120px;
  text-align: center;
  /* height: 30px; */
  line-height: 120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color:black;
  text-decoration: none;
}
.logo{
  margin: 10px;
  transform: translate(-210px,30px);
}
.logo img{
  width: 85px;
  height: 40px;
}

.logo-icon{
  margin-right: 300px;
  transform: scale(0.35);
}

#icon-search{
  margin: 10px;
}

#icon-lang{
  transform: scale(0.35);

}

#icon-color{
  transform: scale(0.35);
}