
/* 메인 2번 : 더 나은 세상을 만드는 카카오 서비스 시작 */

.main-kakaoservice{
  width: 1515px;
  height: 180px;
  background-color: white;
  /* border: 1px solid red; */
  margin-left: 100px;
  display: flex;
}

.main-kakaoservice img{
  /* border: 1px solid red; */
  width: 80px;
  margin-left: 100px;
  margin-top: 85px;
}

.main-kakaoservice #service-icon {
  margin-left: 0;
}

.main-kakaoservice #service-text{
  margin-left: 20px;
  margin-top: 90px;
  font-size: 50px;
  width: 1000px;
  font-weight: 500;
  letter-spacing : -5px;
}


/* 서비스 영역 나누기 */
.service-section{
  width: 1300px;
  height: 520px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  /* padding: 10px; */
}

.service-section-left{
  background-color: white;
  height: 520px;
  width: 630px;
}

.service-section-right{
  background-color: white;
  height: 520px;
  width: 630px;
}

/* 서비스 영역 왼쪽 */
/* 커뮤니케이션 */
.communication {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.communication h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  /* font-weight: 500; */
  letter-spacing : -4px;
}

.com-list {
  display: flex;
  list-style-type: none;
}

#com-katalk{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#com-daum{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#com-story{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#com-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 일상 */
.daily{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.daily h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.daily-list {
  display: flex;
  list-style-type: none;
}

#daily-map{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#daily-taxi{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

#daily-bank{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

#daily-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 10px;
}

/* 엔터테인먼트 */
.entertain{
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin: 10px;
}

.entertain h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.enter-list {
  display: flex;
  list-style-type: none;
}

#enter-page{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#enter-japan{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#enter-melon{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#enter-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 서비스 영역 오른쪽 */
/* 비지니스 */
.business {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.business h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.business-list {
  display: flex;
  list-style-type: none;
}

#busi-channel{
  height: 60px;
  margin-left: 335px;
  margin-top: -50px;
}

#busi-cloud{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#busi-agit{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#busi-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 쇼핑 */
.shopping {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.shopping h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.shopping-list {
  display: flex;
  list-style-type: none;
}

#shop-present{
  height: 60px;
  margin-left: 340px;
  margin-top: -50px;
}

#shop-store{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#shop-zig{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

#shop-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 소셜 */
.social {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 30px;
  height: 150px;
  width: 640px;
  margin-top: 10px;
}

.social h2 {
  margin-top: 55px;
  margin-left: 35px;
  font-size: 28px;
  letter-spacing : -4px;
}

.social-list {
  display: flex;
  list-style-type: none;
}

#social-page{
  height: 60px;
  margin-left: 475px;
  margin-top: -50px;
}

#social-plus{
  height: 60px;
  margin-top: -50px;
  margin-left: 8px;
}

/* 서비스 전체보기 */
.service-all{
  background-color: white;
  /* border: 1px solid red; */
  width: 1300px;
  height: 250px;
  margin-left: 100px;
}

.s-all-container {
  background-color: #f3f3f3;
  border: 0.1px solid #f3f3f3;
  border-radius: 70px;
  height: 75px;
  width: 300px;
  margin-left: 500px;
}

.service-all h2 {
  margin-top: 22px;
  margin-left: 65px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing : -4px;
}

#s-all-icon{
  width: 30px;
  transform: translate(205px, -28px);
}
